.icon {display: inline-block;width: 1em;stroke-width: 0;stroke: currentcolor;fill: currentcolor;color: rgb(0, 0, 0);-webkit-text-stroke-color: inherit;-webkit-text-stroke-width: 1px;-webkit-text-fill-color: transparent;}
.wrapper {width: 100%;height: 85%;/* min-height: 750px; *//* background: url("../img/banner-12.png") center center / cover no-repeat; */position: relative;overflow: hidden;display: flex;padding-top: 20px;padding-bottom: 20px;}
@media screen and (max-width: 992px) {
  .wrapper {height: 50%;/* min-height: 50vh; */}
}
.content { height: 100vh; margin: auto; width: 100%; max-width: 1500px; display: flex; align-items: center; position: relative; }
@media screen and (max-width: 1200px) {
  .content { max-width: 920px; }
}
@media screen and (max-width: 992px) {
  .content {max-width: 920px;margin-top: 100px;height: auto;/* min-height: 100vh; */}
}
@media screen and (max-width: 767px) {
  .content { margin-top: 20px; }
}
@media screen and (max-width: 576px) {
  .content { margin-top: 20px; margin-bottom: 20px; }
}
.bg-shape {height: 100%;background-image: linear-gradient(-45deg, rgb(255 255 255) 0%, rgb(255 255 255) 100%);box-shadow: rgba(10, 22, 31, 0.26) 0px 30px 139px 0px;border-radius: 30px;padding: 45px 40px;width: 50%;position: absolute;top: 0px;left: 0px;display: flex;align-items: center;}
@media screen and (max-width: 1200px) {
  .bg-shape { width: 45%; }
}
@media screen and (max-width: 992px) {
  .bg-shape { width: 90%; height: 290px; align-items: flex-start; padding: 50px; left: 50%; transform: translateX(-50%); }
}
@media screen and (max-width: 767px) {
  .bg-shape { padding: 30px; width: 95%; border-radius: 20px; }
}
@media screen and (max-width: 576px) {
  .bg-shape {height: 200px;padding: 30px;display: none;}
}
.bg-shape img {object-fit: contain;width: 479px;display: block;object-position: left center;opacity: 0.7;transform: rotate(-90deg) translateY(-50%);max-width: inherit;left: 10px;position: absolute;}
@media screen and (max-width: 1200px) {
  .bg-shape img { width: 430px; left: 10px; }
}
@media screen and (max-width: 992px) {
  .bg-shape img { transform: none; width: 100%; position: relative; left: auto; margin-left: auto; margin-right: auto; object-fit: contain; height: 100%; object-position: center top; }
}
.next, .prev { z-index: 22; display: inline-flex; border: none; width: 61px; height: 61px; border-radius: 50%; justify-content: center; align-items: center; font-size: 25px; position: absolute; top: 50%; outline: none; cursor: pointer; }
.next.disabled, .prev.disabled {}
.next:focus, .prev:focus { outline: none; }
@media screen and (max-width: 992px) {
  .next, .prev { top: 170px; }
}
.prev {left: 3%;transform: translate(-100%, -50%);}
@media screen and (max-width: 1200px) {
  .prev { left: -21%; }
}
@media screen and (max-width: 992px) {
  .prev { left: 0px; transform: translate(-50%, -50%); }
}
@media screen and (max-width: 576px) {
  .prev { transform: translate(20%, -50%); }
}
.next { right: 0px; transform: translate(50%, -50%); }
@media screen and (max-width: 576px) {
  .next { transform: translate(-20%, -50%); }
}
.product-slider {width: 100%;height: 90%;border-radius: 30px;/* box-shadow: rgba(10, 22, 31, 0.35) 0px 28px 79px 0px; */position: absolute;top: 45%;right: 0px;transform: translateY(-50%);}
@media screen and (max-width: 1200px) {
  .product-slider { width: 80%; }
}
@media screen and (max-width: 992px) {
  .product-slider { width: 80%; left: 0px; right: 0px; transform: translateX(0%); height: auto; position: relative; top: 0px; margin: 170px auto 100px; }
  .product-slider br { display: none; }
}
@media screen and (max-width: 767px) {
  .product-slider { border-radius: 20px; }
}
@media screen and (max-width: 576px) {
  .product-slider {width: 85%;right: 0px;left: 0px;transform: translateX(0%);margin: 20px auto auto;}
}
.product-slider__wrp { height: 100%; }
.product-slider__item { position: relative; height: 100%; width: 100%; }
@media screen and (max-width: 992px) {
  .product-slider__item { height: auto; }
}
.product-slider__item.swiper-slide-active .product-slider__content > * { opacity: 1; transform: none; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(1) { transition-delay: 0s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(2) { transition-delay: 0.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(3) { transition-delay: 0.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(4) { transition-delay: 0.6s; }
.product-slider__item.swiper-slide-active .product-slider__bottom  { transition-delay: 0.4s; }

.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(5) { transition-delay: 0.8s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(6) { transition-delay: 1s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(7) { transition-delay: 1.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(8) { transition-delay: 1.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(9) { transition-delay: 1.6s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(10) { transition-delay: 1.8s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(11) { transition-delay: 2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(12) { transition-delay: 2.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(13) { transition-delay: 2.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(14) { transition-delay: 2.6s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(15) { transition-delay: 2.8s; }
.product-slider__item.swiper-slide-active circle { animation: 1s ease-out 0.5s 1 normal forwards running progress; opacity: 0.75; }
.product-slider__card { height: 100%; display: flex; align-items: center; width: 100%; transition: all 0.5s ease 0s; overflow: hidden; position: relative; border-radius: 30px; }
@media screen and (max-width: 992px) {
  .product-slider__card { align-items: flex-start; }
}
@media screen and (max-width: 767px) {
  .product-slider__card { border-radius: 20px; }
}
.product-slider__cover {border-radius: 30px;position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;display: block;/* object-fit: fill; */}
.product-slider__card::before {content: "";position: absolute;width: 100%;height: 100%;/* background-color: rgb(0 0 0 / 58%); */z-index: 1;/* background: linear-gradient(316deg, black, transparent); */}
@media screen and (max-width: 767px) {
  .product-slider__cover { border-radius: 20px; }
}
.product-slider__content {color: rgb(255, 255, 255);padding-top: 1px;position: relative;z-index: 2;width: 100%;/* padding-left: 250px; *//* padding-right: 80px; */}
@media screen and (max-width: 1200px) {
  .product-slider__content {/* padding-left: 220px; */}
}
@media screen and (max-width: 992px) {
  .product-slider__content {/* padding: 280px 60px 100px; */text-align: center;}
}
@media screen and (max-width: 767px) {
  .product-slider__content {/* padding: 300px 30px 50px; */}
}
@media screen and (max-width: 576px) {
  .product-slider__content {padding-top: 220px;/* padding-left: 15px; *//* padding-right: 15px; */}
}
.product-slider__title { margin: 0px 0px 10px; font-weight: 900; font-size: 41px; line-height: 1.2em; opacity: 0; font-family: Ar; transform: translateY(55px); transition: all 0.5s ease 0s; }
@media screen and (max-width: 1200px) {
  .product-slider__title { font-size: 34px; }
}
@media screen and (max-width: 576px) {
  .product-slider__title { font-size: 24px; }
}
.product-slider__price {display: block;font-size: 42px;opacity: 0;transform: translateY(55px);transition: all 0.5s ease 0s;display: none;}
@media screen and (max-width: 1200px) {
  .product-slider__price { font-size: 36px; }
}
@media screen and (max-width: 576px) {
  .product-slider__price { font-size: 30px; }
}
.product-slider__price sup { top: -20px; font-size: 65%; }
.product-slider__cart {box-shadow: rgba(204, 51, 66, 0.6) 0px 7px 99px 0px;background-image: linear-gradient(-45deg, rgb(0, 76, 29) 0%, rgb(0, 76, 29) 100%);border: none;color: rgb(255, 255, 255);padding: 10px 30px;border-radius: 50px;min-height: 50px;font-weight: 700;font-size: 14px;/* margin-right: 40px; */cursor: pointer;}
@media screen and (max-width: 768px) {
  .product-slider__cart { margin-right: 30px; }
}
@media screen and (max-width: 576px) {
  .product-slider__cart { width: 100%; max-width: 300px; margin-left: auto; margin-right: auto; margin-bottom: 50px; }
}
.product-slider__bottom {transform: translateY(35px);transition: all 0.5s ease 0s;}
.product-ctr {display: flex;align-items: center;min-height: 150px;opacity: 0;transform: translateY(55px);transition: all 0.5s ease 0s;}
@media screen and (max-width: 992px) {
  .product-ctr { justify-content: center; }
}
.product-ctr .hr-vertical { width: 1px; background: rgb(255, 255, 255); align-self: stretch; margin: 0px 35px; flex-shrink: 0; opacity: 0.5; }
@media screen and (max-width: 767px) {
  .product-ctr { justify-content: center; flex-wrap: wrap; margin-bottom: 40px; }
  .product-ctr .hr-vertical { width: 100%; margin: 35px 0px; height: 1px; }
}
@media screen and (max-width: 767px) {
  .product-labels { width: 100%; }
}
.product-labels__checkbox { display: none; }
.product-labels__checkbox:checked + .product-labels__txt { border-color: rgb(255, 255, 255); padding: 10px 13px; }
sup { top: unset; }
.product-labels__title { font-weight: 700; font-size: 29px; margin-bottom: 10px; }
.product-labels__group { display: flex; margin-bottom: 15px; }
@media screen and (max-width: 992px) {
  .product-labels__group { justify-content: center; }
}
.product-labels__group:last-child { margin-bottom: 0px; }
.product-labels__item { margin: 5px; cursor: pointer; }
.product-labels__item:first-child { margin-left: 0px; }
.product-labels__txt { display: block; border: 2px solid transparent; font-size: 14px; padding: 10px 20px 10px 0px; border-radius: 50px; transition: all 0.3s ease 0s; letter-spacing: 2px; }
@keyframes progress { 
  0% { stroke-dasharray: 0, 100; }
}
.product-inf { text-align: center; }
@media screen and (max-width: 767px) {
  .product-inf { width: 100%; }
}
.product-inf__percent { font-weight: 700; font-size: 22px; letter-spacing: 1px; margin-bottom: 12px; font-family: Dosis, sans-serif; position: relative; }
.product-inf__percent circle { transform: rotate(180deg) scaleY(-1); transform-origin: 50% center; }
.product-inf__percent-txt { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.product-inf__title { font-weight: 700; font-size: 20px; }
.content .product-img {position: absolute;z-index: 2;/* width: 500px; */border-radius: 100%;/* left: 25%; */display: none;transform: translateX(-45%);max-height: 500px;height: 100%;z-index: 1;pointer-events: none;}
@media screen and (max-width: 1200px) {
  .product-img { width: 430px; left: 20%; }
}
@media screen and (max-width: 992px) {
  .product-img {width: 430px;left: 46% !important;transform: translateX(-50%);top: -59px !important;height: 350px;max-height: 379px !important;}
}
@media screen and (max-width: 767px) {
  .product-img {width: 100%;max-width: 400px;top: 30px;height: 390px;}
}
@media screen and (max-width: 576px) {
  .product-img {max-width: 250px;height: 300px;}
}
.product-img__item {display: flex;align-items: center;position: absolute;pointer-events: none;user-select: none;/* top: 50%; */right: 0px;transform: translateY(-50%) translateX(-130px);background-color: #fff;opacity: 0;transition: all 0.3s ease 0s;padding: 30px;border-radius: 100%;overflow: hidden;width: 100%;height: 100%;}
.product-img__item:before{content:"";position: absolute;background: url(../img/logo.png);/* width: 200px; *//* height: 100px; */top: 13px;left: 0;background-position: center center;background-size: contain;background-repeat: no-repeat;z-index: 0;}
.product-img__item.active { opacity: 1; transform: translateY(-50%) translateX(0px); transition-delay: 0.3s; }
.product-img__item img {object-fit: unset;/* object-position: right center; *//* transform-style: preserve-3d; */border-radius: 30px;width: 100%;height: 100%;}
.icon {display: inline-block;width: 1em;stroke-width: 0;stroke: currentcolor;fill: currentcolor;color: rgb(0, 0, 0);-webkit-text-stroke-color: inherit;-webkit-text-stroke-width: 1px;-webkit-text-fill-color: transparent;}
.wrapper {width: 100%;height: 85%;/* min-height: 750px; *//* background: url("../img/banner-12.png") center center / cover no-repeat; */position: relative;overflow: hidden;display: flex;/* padding-top: 0px; */padding-bottom: 20px;}
@media screen and (max-width: 992px) {
  .wrapper {height: 50%;min-height: 50vh;/* overflow: scroll; */padding-top: 0;}
}
.content {height: 70vh;margin: auto;width: 100%;max-width: 1500px;display: flex;align-items: center;position: relative;}
@media screen and (max-width: 1200px) {
  .content { max-width: 920px; }
}
@media screen and (max-width: 992px) {
  .content {max-width: 100%;/* margin-top: 100px; */height: auto;/* min-height: 100vh; */}
}
@media screen and (max-width: 767px) {
  .content {/* margin-top: 20px; */}
}
@media screen and (max-width: 576px) {
  .content {/* margin-top: 20px; */margin-bottom: 20px;}
}
.bg-shape {height: 100%;background-image: linear-gradient(-45deg, rgb(255 255 255) 0%, rgb(255 255 255) 100%);box-shadow: rgba(10, 22, 31, 0.26) 0px 30px 139px 0px;border-radius: 30px;padding: 45px 40px;width: 50%;position: absolute;top: 0px;left: 0px;display: flex;align-items: center;}
@media screen and (max-width: 1200px) {
  .bg-shape { width: 45%; }
}
@media screen and (max-width: 992px) {
  .bg-shape { width: 90%; height: 290px; align-items: flex-start; padding: 50px; left: 50%; transform: translateX(-50%); }
}
@media screen and (max-width: 767px) {
  .bg-shape { padding: 30px; width: 95%; border-radius: 20px; }
}
@media screen and (max-width: 576px) {
  .bg-shape {height: 200px;padding: 30px;display: none;}
}
.bg-shape img {object-fit: contain;width: 479px;display: block;object-position: left center;opacity: 0.7;transform: rotate(-90deg) translateY(-50%);max-width: inherit;left: 10px;position: absolute;}
@media screen and (max-width: 1200px) {
  .bg-shape img { width: 430px; left: 10px; }
}
@media screen and (max-width: 992px) {
  .bg-shape img { transform: none; width: 100%; position: relative; left: auto; margin-left: auto; margin-right: auto; object-fit: contain; height: 100%; object-position: center top; }
}
.next, .prev { z-index: 22; display: inline-flex; border: none; width: 61px; height: 61px; border-radius: 50%; justify-content: center; align-items: center; font-size: 25px; position: absolute; top: 50%; outline: none; cursor: pointer; }
.next.disabled, .prev.disabled {}
.next:focus, .prev:focus { outline: none; }
@media screen and (max-width: 992px) {
  .next, .prev {top: 109px;}
}
.prev {left: 3%;transform: translate(-100%, -50%);}
@media screen and (max-width: 1200px) {
  .prev {left: -20%;}
}
@media screen and (max-width: 992px) {
  .prev {right: 90%;transform: translate(-50%, -50%);}
}
@media screen and (max-width: 576px) {
  .prev { transform: translate(20%, -50%); }
}
.next {right: 8px;transform: translate(50%, -50%);}
@media screen and (max-width: 576px) {
  .next {transform: translate(-20%, -50%);/* left: 71%; */right: -12px;}
}
.product-slider {width: 100%;height: 100%;border-radius: 30px;/* box-shadow: rgba(10, 22, 31, 0.35) 0px 28px 79px 0px; */position: absolute;top: 50%;right: 0px;transform: translateY(-50%);}
@media screen and (max-width: 1200px) {
  .product-slider {/* width: 80%; */}
}
@media screen and (max-width: 992px) {
  .product-slider {/* width: 80%; */left: 0px;right: 0px;transform: translateX(0%);height: auto;position: relative;top: 0px;margin: 170px auto 100px;}
  .product-slider br { display: none; }
}
@media screen and (max-width: 767px) {
  .product-slider { border-radius: 20px; }
}
@media screen and (max-width: 576px) {
  .product-slider {/* width: 90%; */right: 0px;left: 0px;transform: translateX(0%);margin: 20px auto auto;}
}
.product-slider__wrp { height: 100%; }
.product-slider__item { position: relative; height: 100%; width: 100%; }
@media screen and (max-width: 992px) {
  .product-slider__item { height: auto; }
}
.product-slider__item.swiper-slide-active .product-slider__content > * { opacity: 1; transform: none; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(1) { transition-delay: 0s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(2) { transition-delay: 0.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(3) { transition-delay: 0.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(4) { transition-delay: 0.6s; }
.product-slider__item.swiper-slide-active .product-slider__bottom  { transition-delay: 0.4s; }

.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(5) { transition-delay: 0.8s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(6) { transition-delay: 1s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(7) { transition-delay: 1.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(8) { transition-delay: 1.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(9) { transition-delay: 1.6s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(10) { transition-delay: 1.8s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(11) { transition-delay: 2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(12) { transition-delay: 2.2s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(13) { transition-delay: 2.4s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(14) { transition-delay: 2.6s; }
.product-slider__item.swiper-slide-active .product-slider__content > :nth-child(15) { transition-delay: 2.8s; }
.product-slider__item.swiper-slide-active circle { animation: 1s ease-out 0.5s 1 normal forwards running progress; opacity: 0.75; }
.product-slider__card { height: 100%; display: flex; align-items: center; width: 100%; transition: all 0.5s ease 0s; overflow: hidden; position: relative; border-radius: 30px; }
@media screen and (max-width: 992px) {
  .product-slider__card { align-items: flex-start; }
}
@media screen and (max-width: 767px) {
  .product-slider__card { border-radius: 20px; }
}
.product-slider__cover {border-radius: 30px;position: absolute;top: 0px;left: 0;width: 100%;height: 100%;display: block;/* object-fit: fill; */}
.product-slider__card::before {/* content: ""; *//* position: absolute; */width: 100%;height: 100%;/* background-color: rgb(0 0 0 / 58%); */z-index: 1;/* background: linear-gradient(316deg, black, transparent); */}
@media screen and (max-width: 767px) {
  .product-slider__cover { border-radius: 20px; }
}
.product-slider__content {color: rgb(255, 255, 255);padding-top: 1px;position: relative;z-index: 2;width: 100%;/* padding-left: 250px; *//* padding-right: 80px; */}
@media screen and (max-width: 1200px) {
  .product-slider__content {/* padding-left: 220px; */}
}
@media screen and (max-width: 992px) {
  .product-slider__content {/* padding: 280px 60px 100px; */text-align: center;}
}
@media screen and (max-width: 767px) {
  .product-slider__content {/* padding: 300px 30px 50px; */}
}
@media screen and (max-width: 576px) {
  .product-slider__content {/* padding-top: 82px; *//* padding-left: 15px; *//* padding-right: 15px; */}
}
.product-slider__title { margin: 0px 0px 10px; font-weight: 900; font-size: 41px; line-height: 1.2em; opacity: 0; font-family: Ar; transform: translateY(55px); transition: all 0.5s ease 0s; }
@media screen and (max-width: 1200px) {
  .product-slider__title { font-size: 34px; }
}
@media screen and (max-width: 576px) {
  .product-slider__title { font-size: 24px; }
}
.product-slider__price {display: block;font-size: 42px;opacity: 0;transform: translateY(55px);transition: all 0.5s ease 0s;display: none;}
@media screen and (max-width: 1200px) {
  .product-slider__price { font-size: 36px; }
}
@media screen and (max-width: 576px) {
  .product-slider__price { font-size: 30px; }
}
.product-slider__price sup { top: -20px; font-size: 65%; }
.product-slider__cart {box-shadow: rgba(204, 51, 66, 0.6) 0px 7px 99px 0px;background-image: linear-gradient(-45deg, rgb(0, 76, 29) 0%, rgb(0, 76, 29) 100%);border: none;color: rgb(255, 255, 255);padding: 10px 30px;border-radius: 50px;min-height: 50px;font-weight: 700;font-size: 14px;/* margin-right: 40px; */cursor: pointer;}
@media screen and (max-width: 768px) {
  .product-slider__cart { margin-right: 30px; }
}
@media screen and (max-width: 576px) {
  .product-slider__cart { width: 100%; max-width: 300px; margin-left: auto; margin-right: auto; margin-bottom: 50px; }
}
.product-slider__bottom {transform: translateY(35px);transition: all 0.5s ease 0s;}
.product-ctr {display: flex;align-items: center;min-height: 150px;opacity: 0;transform: translateY(55px);transition: all 0.5s ease 0s;}
@media screen and (max-width: 992px) {
  .product-ctr { justify-content: center; }
}
.product-ctr .hr-vertical { width: 1px; background: rgb(255, 255, 255); align-self: stretch; margin: 0px 35px; flex-shrink: 0; opacity: 0.5; }
@media screen and (max-width: 767px) {
  .product-ctr { justify-content: center; flex-wrap: wrap; margin-bottom: 40px; }
  .product-ctr .hr-vertical { width: 100%; margin: 35px 0px; height: 1px; }
}
@media screen and (max-width: 767px) {
  .product-labels { width: 100%; }
}
.product-labels__checkbox { display: none; }
.product-labels__checkbox:checked + .product-labels__txt { border-color: rgb(255, 255, 255); padding: 10px 13px; }
sup { top: unset; }
.product-labels__title { font-weight: 700; font-size: 29px; margin-bottom: 10px; }
.product-labels__group { display: flex; margin-bottom: 15px; }
@media screen and (max-width: 992px) {
  .product-labels__group { justify-content: center; }
}
.product-labels__group:last-child { margin-bottom: 0px; }
.product-labels__item { margin: 5px; cursor: pointer; }
.product-labels__item:first-child { margin-left: 0px; }
.product-labels__txt { display: block; border: 2px solid transparent; font-size: 14px; padding: 10px 20px 10px 0px; border-radius: 50px; transition: all 0.3s ease 0s; letter-spacing: 2px; }
@keyframes progress { 
  0% { stroke-dasharray: 0, 100; }
}
.product-inf { text-align: center; }
@media screen and (max-width: 767px) {
  .product-inf { width: 100%; }
}
.product-inf__percent { font-weight: 700; font-size: 22px; letter-spacing: 1px; margin-bottom: 12px; font-family: Dosis, sans-serif; position: relative; }
.product-inf__percent circle { transform: rotate(180deg) scaleY(-1); transform-origin: 50% center; }
.product-inf__percent-txt { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.product-inf__title { font-weight: 700; font-size: 20px; }
.content .product-img {position: absolute;z-index: 2;/* width: 500px; */border-radius: 100%;/* left: 25%; */display: none;transform: translateX(-45%);max-height: 500px;height: 100%;z-index: 1;pointer-events: none;}
@media screen and (max-width: 1200px) {
  .product-img { width: 430px; left: 20%; }
}
@media screen and (max-width: 992px) {
  .product-img {width: 430px;left: 46% !important;transform: translateX(-50%);top: -59px !important;height: 350px;max-height: 379px !important;}
}
@media screen and (max-width: 767px) {
  .product-img {width: 100%;max-width: 400px;top: 30px;height: 390px;}
}
@media screen and (max-width: 576px) {
  .product-img {max-width: 250px;height: 300px;}
}
.product-img__item {display: flex;align-items: center;position: absolute;pointer-events: none;user-select: none;top: 50%;right: 0px;transform: translateY(-50%) translateX(-130px);background-color: #fff;opacity: 0;transition: all 0.3s ease 0s;padding: 30px;border-radius: 100%;overflow: hidden;width: 100%;height: 100%;}
.product-img__item:before{content:"";position: absolute;background: url(../img/logo.png);/* width: 200px; *//* height: 100px; */top: 13px;left: 0;background-position: center center;background-size: contain;background-repeat: no-repeat;z-index: 0;}
.product-img__item.active { opacity: 1; transform: translateY(-50%) translateX(0px); transition-delay: 0.3s; }
.product-img__item img {object-fit: unset;/* object-position: right center; *//* transform-style: preserve-3d; */border-radius: 30px;width: 100%;height: 100%;}
